DATABASE_URL=sqlite:////data/app.db
IMPORT_TMP_DIR=/data/imports_tmp
CORS_ALLOWED_ORIGINS=http://localhost:3000
DEFAULT_TIMEZONE=Australia/Melbourne
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_MAP_TILE_URL_SATELLITE=https://api.maptiler.com/maps/satellite/512/{z}/{x}/{y}.jpg?key=<YOUR KEY HERE>
NEXT_PUBLIC_MAP_TILE_URL_STREET=https://api.maptiler.com/maps/streets-v4/512/{z}/{x}/{y}.jpg?key=<YOUR KEY HERE>
NEXT_PUBLIC_MAP_TILE_SIZE=512
NEXT_PUBLIC_MAP_ATTRIBUTION=© MapTiler © OpenStreetMap contributors
